<%= render :partial => 'shared/top_bar' %>
<div class="block">
  <h3>Quick Add Product</h3>
  <div class="content">
    <% semantic_form_for Product.new, :url => {:controller => 'products', :action => 'create'}	do |f| %>
			<% f.inputs do %>
				<%= f.input :consigner %>
				<%= f.input :code, :input_html => { :size => 10 } %>
				<%= f.input :name %>
				<%= f.input :wholesale %>
				<%= f.input :retail %>
			<% end %>
			<%= f.commit_button %>
		<% end %>
  </div>
</div>
<%= render :partial => 'shared/bottom_bar' %>