<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", businesses_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_business_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", business_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
			<%= image_tag @business.image.url, :style => "float:right; width:200px;"%>
        <h3><%= @business.name %></h3>
			<p>
				<strong>Admin: <%= link_to @business.owner.first_name + " " + @business.owner.last_name, user_path(@business.owner) %></strong>
			</p>
      <p>
			<%= @business.street %><br/>
      <%= @business.street_2 + "<br />" if @business.street_2 %>
      <%= @business.city %>, <%= @business.state %>  <%= @business.zipcode %>
      </p>

      <p>
        <%= @business.email %><br/>
        <%= link_to @business.website, @business.website %><br/>
				Phone: <%= number_to_phone(@business.phone, :area_code => true, :delimiter => " ") %><br/>
				<%= "Fax: #{number_to_phone(@business.fax, area_code => true, :delimiter => " ")}" if @business.fax %><br/>

				
				<h3>Consigners selling products through <%= @business.name %>:</h3>
				<table class="table">
	        <tr>             
	          <th class="first">ID</th>
						<th>Name</th>
						<th>Business Name</th>
	          <th class="last">&nbsp;</th>
	        </tr>
	        <% @business.consigners.each do |consigner| -%>
	        <tr class="<%= cycle("odd", "even") %>">
	          <td><%= consigner.id %></td>
						<td><%= link_to consigner.name, consigner_path(consigner) %></td>
						<td><%= consigner.biz_name %></td>
	          <td class="last">
	            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", consigner_path(consigner) %> |
	            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_consigner_path(consigner) %> |
	            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", consigner_path(consigner), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
	          </td>
	        </tr>          
	        <% end -%>
	      </table>
			
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_business_path(@business), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", business_path(@business), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>