<div class="block">
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Invoices</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">Invoice #</th>
					<th>Date</th>
					<th>Consigner</th>
					<th>PDF Invoice</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @invoices.each do |invoice| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= link_to invoice.id, invoice_path(invoice) %></td>
					<td><%= link_to invoice.date, invoice_path(invoice) %></td>
					<td><%= link_to invoice.consigner.name, consigner_path(invoice.consigner) %></td>
					<td><%= link_to "PDF Version", invoice_path(invoice, :format => "pdf") %>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", invoice_path(invoice) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_invoice_path(invoice) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", invoice_path(invoice), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>