<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "List", business_invoices_path(@business)  %></li>
      <li><%= link_to"New", new_business_invoice_path(@business) %></li>
      <li class="active"><%= link_to "Shown", business_invoice_path(@business) %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <h2>Invoice #<%= @invoice.id %></h2>
			<h3>Consigner: <%= @invoice.consigner.name %></h3>
			<p>
				<strong>Business Name: <%= @invoice.consigner.biz_name %></strong><br />
				<%= @invoice.consigner.street %><br/>
					
				<table class="table">
	        <tr>             
	          <th class="first">Code</th>
						<th>Name</th>
						<th>Number Sold</th>
						<th>Wholesale Price</th>
	          <th class="last">&nbsp;</th>
	        </tr>
	        <% @invoice.products.each_pair do |product, details| -%>
						<% details.each_pair do |wholesale, num| -%>
	        <tr class="<%= cycle("odd", "even") %>">
	          <td><%= link_to product.code, business_product_path(@business,product) %></td>
						<td><%= link_to product.name, business_product_path(@business, product) %>
						<td><%= num %></td>
						<td><%= wholesale %></td>
	          <td class="last"><%= num * wholesale %></td>
	        </tr>          
					<% end -%>
	        <% end -%>
	      </table>
		 <h3 style="align:right">Total Due: <%= @invoice.total %></h3>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_business_invoice_path(@business, @invoice), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", business_invoice_path(@business, @invoice), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>