<%= render :partial => 'shared/top_bar' %>
<div class="block">
  <h3>Quick Add Consigner</h3>
  <div class="content">
    <% semantic_form_for [@business, Consigner.new], :url => {:action => 'create'}	do |f| %>
			<% f.inputs do %>
				<%= f.input :name %>
				<%= f.input :biz_name %>
				<%= f.input :percentage, :label => "Percentage above wholesale" %>
			<% end %>
			<%= f.commit_button %>
		<% end %>
  </div>
</div>
<%= render :partial => 'shared/bottom_bar' %>