<div class="block">
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.consigner.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @consigner.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.biz_name", :default => t("activerecord.labels.biz_name", :default => "Biz name")) %>:</b>
          <%= @consigner.biz_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.street", :default => t("activerecord.labels.street", :default => "Street")) %>:</b>
          <%= @consigner.street %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.street_2", :default => t("activerecord.labels.street_2", :default => "Street 2")) %>:</b>
          <%= @consigner.street_2 %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.city", :default => t("activerecord.labels.city", :default => "City")) %>:</b>
          <%= @consigner.city %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.state", :default => t("activerecord.labels.state", :default => "State")) %>:</b>
          <%= @consigner.state %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.zipcode", :default => t("activerecord.labels.zipcode", :default => "Zipcode")) %>:</b>
          <%= @consigner.zipcode %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.phone", :default => t("activerecord.labels.phone", :default => "Phone")) %>:</b>
          <%= @consigner.phone %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</b>
          <%= @consigner.email %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.website", :default => t("activerecord.labels.website", :default => "Website")) %>:</b>
          <%= @consigner.website %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.fax", :default => t("activerecord.labels.fax", :default => "Fax")) %>:</b>
          <%= @consigner.fax %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.notes", :default => t("activerecord.labels.notes", :default => "Notes")) %>:</b>
          <%= @consigner.notes %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.consigner.last_invoiced", :default => t("activerecord.labels.last_invoiced", :default => "Last invoiced")) %>:</b>
          <%= @consigner.last_invoice.date if @consigner.last_invoice %>
        </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_consigner_path(@consigner), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", consigner_path(@consigner), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        <%= link_to "#{image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.invoice", :default=> "Invoice")}")} #{t("web-app-theme.invoice", :default => "Invoice")}", consigner_path(@consigner) + "/invoice", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Invoice #{@consigner.name}?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>