<div class="block">
  <div class="content">
    <div class="inner">
				<div style="float:right;">
          <h3>Consigner last invoiced: <%= link_to @consigner.last_invoice.date, @consigner.last_invoice if @consigner.last_invoice %></h3>
					<h3>Cost this period: <%= number_to_currency @consigner.total_this_period %>
				</div>
				<%= render :partial => "shared/consigner", :locals => {:consigner => @consigner} %>
				<%= render :partial => "shared/products", :locals => {:products => @consigner.products} %>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_consigner_path(@consigner), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", consigner_path(@consigner), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        <%= link_to "#{image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.invoice", :default=> "Invoice")}")} #{t("web-app-theme.invoice", :default => "Invoice")}", consigner_path(@consigner) + "/invoice", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Invoice #{@consigner.name}?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>