<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<% semantic_form_for @user do |f| %>
  <% f.inputs do %>
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :email %>
		<%= f.input :password, :required => true %>
		<%= f.input :password_confirmation, :required => true %>
	<% end %>
	<%= f.buttons %>
<% end %>
