<div class="block">
  <h3>Quick Add Product</h3>
  <div class="content">
    <% semantic_form_for [@business, Product.new], :url => {:action => 'create'}	do |f| %>
			<% f.inputs do %>
				<%= f.input :consigner %>
				<%= f.input :code, :input_html => { :size => 10 } %>
				<%= f.input :name %>
				<%= f.input :wholesale %>
				<%= f.input :retail %>
			<% end %>
			<%= f.commit_button %>
		<% end %>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>