<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", products_path  %></li>
  		<li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_product_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Products</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">Code</th>
					<th>Name</th>
					<th>Wholesale</th>
					<th>Retail</th>
					<th>In Stock</th>
					<th>Sales</th>
					<th>Income</th>
					<th>Cost</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @products.each do |product| -%>
        <tr class="<%= cycle("odd", "even") %>">
					<td><%= link_to product.code, product_path(product) %></td>
          <td><%= link_to product.name, product_path(product) %></td>
					<td><%= number_to_currency product.wholesale %></td>
					<td><%= number_to_currency product.retail %></td>
					<td><%= product.count > 0 ? product.count : "No Stock" %></td>
					<td><%= product.output_count %></td>
					<td><%= number_to_currency product.total_income_this_period %></td>
					<td><%= number_to_currency product.total_cost_this_period %></td>
					<td class = "last"><%= link_to "Sell!", product_path(product) + "/sell" if product.count > 0 %></td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>