<div class="block">
  <div class="content">
    <div class="inner">
			<div style="float:right;">
				<%= render :partial => "shared/consigner", :locals => {:consigner => @product.consigner} %>
			</div>
      <h2>Product Code: <%= @product.code %></h2>
			<h3><%= @product.name %></h3>

      <p><%= @product.description if @product.description %></p>

      <p><strong>Wholesale: <%= @product.wholesale %></strong>, Retail: <%= @product.retail %></p>
			<p><%= @product.count > 0 ? @product.count.to_s + " in stock" : "No stock" %> with <strong><%= @product.sales_this_period %> sales</strong> and<br />
				 <strong><%= number_to_currency @product.cost_this_period %> in costs this period</strong><br />
				 on <%= number_to_currency @product.income_this_period %> total income
				

      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_product_path(@product), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", product_path(@product), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>